//
// Created by Stef on 14/11/2023.
//

#ifndef ARDUINOTICTACTOEWIFI_SECRETS_H
#define ARDUINOTICTACTOEWIFI_SECRETS_H

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_ADDRESS ""
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

#define MQTT_TOPIC_PREFIX ""

#endif //ARDUINOTICTACTOEWIFI_SECRETS_H
